{% apply inline_css %}
    {% apply inky_to_html|inline_css(source('@styles/email/foundation-emails.css')) %}
        <container>
            <row class="header">
                <columns>
                    <img src="{{ email.image('@images/logo.png') }}" alt="Logo"/> <br /> <br />
                    <h1>Bienvenue {{ name_new_user }} !</h1>
                    <p><button href="{{ url }}">Cliquez ici pour confirmer votre email</button></p>
                    <p>Ce lien est valide 24h.<br /></p> <br />
                </columns>
            </row>
            {% include 'emails/components/_footer.html.twig' %}
        </container>
    {% endapply %}
{% endapply %}