{% apply inline_css %}
    {% apply inky_to_html|inline_css(source('@styles/email/foundation-emails.css')) %}
        <container>
            <row class="header">
                <columns>
                    <img src="{{ email.image('@images/logo.png') }}" alt="Logo"/> <br /> <br />
                    <h1>Salut {{ name_user }} !</h1>
                    <p>Voici le lien pour rénitialiser votre mot de passe.</p>
                    <p><button href="{{ reset_password_url }}" class="radius">Changer votre mot de passe</button></p>
                </columns>
            </row>
            {% include 'emails/components/_footer.html.twig' %}
        </container>
    {% endapply %}
{% endapply %}