name: CI

on:
  push:
    branches:
      - main
  pull_request: ~
  workflow_dispatch: ~

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  DOCKER_COMP: docker compose -f compose.dev.yaml
  PHP_CONT: docker compose -f compose.dev.yaml exec -T php

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker images
        uses: docker/bake-action@v4
        with:
          pull: true
          load: true
          files: |
            compose.dev.yaml
            compose.override.yaml
      - name: List files before up
        run: ls -la
      - name: Start services
        run: ${{ env.DOCKER_COMP }} up --no-build --wait
      - name: Docker status
        run: docker ps
      - name: List files inside php container
        run:  ${{ env.PHP_CONT }} ls -la
      # - name: Change owner to vendor folder
      #   run: chown -R 1001:127 vendor/
      - name: List files inside vendor folder in php container
        run:  ${{ env.PHP_CONT }} ls -la vendor/
      - name: List files inside vendor folder in php container
        run:  ${{ env.PHP_CONT }} ls -la vendor/bin
      - name: Run PHPStan
        run: ${{ env.PHP_CONT }} vendor/bin/phpstan analyse --level max
      - name: Run PHPCs-fixer
        run: ${{ env.PHP_CONT }} vendor/bin/php-cs-fixer fix
      - name: Create test database
        if: false # Remove this line if Doctrine ORM is installed
        run: ${{ env.PHP_CONT }} bin/console -e test doctrine:database:create
      - name: Run migrations
        if: false # Remove this line if Doctrine Migrations is installed
        run: ${{ env.PHP_CONT }} bin/console -e test doctrine:migrations:migrate --no-interaction
      - name: Run PHPUnit
        if: false # Remove this line if PHPUnit is installed
        run: ${{ env.PHP_CONT }} bin/phpunit
      - name: Doctrine Schema Validator
        if: false # Remove this line if Doctrine ORM is installed
        run: ${{ env.PHP_CONT }} bin/console -e test doctrine:schema:validate
  lint:
    name: Docker Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Lint Dockerfile Nginx
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: nginx/dev/Dockerfile
      - name: Lint Dockerfile PHP
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: php/dev/Dockerfile
